<?xml version="1.0" ?>
<robot name="omtp"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ==================================================== -->
  <!-- INITIAL SETUP OF WORLD LINK                          -->
  <!-- ==================================================== -->
  <!-- world -->
  <link name="world" />

  <!-- ==================================================== -->
  <!-- Logical camera                                       -->
  <!-- ==================================================== -->
  <xacro:include filename="$(find logical_camera)/urdf/logical_camera.xacro"/>
  <!-- Must be connected to the world frame, else Gazebo may rotate the entire view -->
  <xacro:logical_camera
    camera_namespace="/omtp"
    camera_name="logical_camera1"
    parent="world" 
    origin_xyz="0.5 0.0 1.2"
    origin_rpy="0 1.5708 0"
  />

</robot>